<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>

  <button mat-stroked-button color="primary" routerLink="./home">
    <div class="icon-text">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </div>
  </button>

  <button mat-stroked-button color="primary" routerLink="./about">
    <div class="icon-text">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </div>
  </button>

  <button mat-stroked-button color="primary" routerLink="./services">
    <div class="icon-text">
      <mat-icon>info</mat-icon>
      <span>Services</span>
    </div>
  </button>

  <button mat-stroked-button color="primary" routerLink="./contact">
    <div class="icon-text">
      <mat-icon>phone</mat-icon>
      <span>Contact</span>
    </div>
  </button>

  <button mat-stroked-button routerLink="./login">
    <div class="icon-text">
      <mat-icon>logout</mat-icon>
      <span>Log out</span>
    </div>
  </button>
</mat-toolbar>
